<div class="card">
    <div class="row">
      <h1>Proyectos realizados</h1>
      <div>
        <button type="button" class="btn btn-primary" routerLink="/newproyecto" *ngIf="isLogged"><i
            class="bi bi-plus-square"></i>
          Agregar proyecto
        </button>
        <div class="row" *ngIf="proyecto?.length == 0">
          <p>No hay proyectos para mostrar</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-4 mb-3" *ngFor="let proyecto of proyecto">
          <div class="mb-1">
            <a href={{proyecto?.linkproyecto}} target="_blank"><img class="card-img mb-3 mt-3" id="pic" src={{proyecto?.img}}></a>
            <div class="card-block">
              <a href={{proyecto?.linkproyecto}} target="_blank"><h5 class="card-title">{{proyecto?.nombre}}</h5></a>
              
                <li class="list-group-item">{{proyecto?.descripcion}}</li>
                <br>
                <div class="text-center" *ngIf="isLogged" id="btn">
                  <button class="btn btn-secondary" routerLink="/editproyecto/{{ proyecto?.id }}">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <button class="btn btn-danger" (click)="delete(proyecto?.id)">
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              
            </div>
          </div>
        </div>
      </div>    