<div class="row text-center">
    <h1>Hard & Soft skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [imageSrc]="'https://www.ecured.cu/images/thumb/2/27/512px-html5-logo.png/260px-512px-html5-logo.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showUnits]="false"
        [showSubtitle]="false"        
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="900"
    ></circle-progress>
    </div>   
    
</div>
