.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5px;
}
.socialmedia{
    margin-right: 0.5px;
}

.btn{
    border-width: medium;
    margin-left: 10px;
    margin-bottom: 20px;
}
#logoapp{
    width: 150px ;

}
img{
    width: 40px;
}

#iconos{
    font-size: 40px;
    color: #fff;
    margin-left: 10px;
}
