<div class="row">
    <div class="container ">
        <div class="logo">
            <img src="../../../assets/ArgPlogo.png" alt="logo arg programa" id="logoapp"> 
        </div>
        <div class="socialmedia">                       
                  <a href="https://github.com/Matias0019" target="_blank" id="iconos"><i class="bi bi-github" ></i></a>                  
                  <a href="https://www.linkedin.com/in/mat%C3%ADas-romero-4b50ab182/" target="_blank" id="iconos"><i class="bi bi-linkedin" ></i></a>                  
                  <a href="https://www.instagram.com/_matiromero._/" target="_blank" id="iconos"><i class="bi bi-instagram" ></i></a>                  
                  <a href="https://wa.me/5492616666283" target="_blank" id="iconos"><i class="bi bi-whatsapp" ></i></a>                  
                
            <button (click)="login()" *ngIf="!isLogged" type="button" class="btn btn-success btn-small">Login</button>
            <button (click)="onLogOut()"*ngIf="isLogged" type="button" class="btn btn-success btn-small">Logout</button>
        </div>
    </div>
</div>

